<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="ext.direct" type="Ext.Direct.Mvc.Configuration.DirectSection, Ext.Direct.Mvc" />
  </configSections>
  <ext.direct providerName="Ext.app.REMOTING_API" assembly="SZIntraV3_1_WebSite" descriptorGeneration="OptIn" dateFormat="JavaScript" />
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DefaultLanguage" value="cn" />
    <!--add to AttachmentDirectories in QdtBaseController-->
    <add key="LessonAttachmentPath" value="~/Attachment/QdtLessonAttachment" />
    <add key="CertificationAttachmentPath" value="~/Attachment/QdtCertificationAttachment" />
    <add key="WorkflowProcessAttachmentPath" value="~/Attachment/QdtWorkflowProcessAttachment" />
    <add key="RigAttachmentPath" value="~/Attachment/QdtRigAttachment" />
    <add key="SZSQE" value ="50;153;320;775;543;398" />
    <!--SQE User id in sys_user-->
  </appSettings>
  <system.web>
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <sessionState mode="InProc" timeout="90" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="100000" />
    <identity impersonate="true" />
    <!--<compilation debug="true" targetFramework="4.0">-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="None">
      <!--<forms loginUrl="~/Account/LogOn" timeout="2880" />-->
    </authentication>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="SystemAdminEntities" connectionString="metadata=res://*/Models.EntityModel.SystemAdminModel.csdl|res://*/Models.EntityModel.SystemAdminModel.ssdl|res://*/Models.EntityModel.SystemAdminModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=3.41.199.73;initial catalog=SZINTRAPROD;user id=sa;password=Pa66word;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QDTEntities" connectionString="metadata=res://*/Models.EntityModel.QDTModel.csdl|res://*/Models.EntityModel.QDTModel.ssdl|res://*/Models.EntityModel.QDTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=3.41.199.73;initial catalog=SZINTRAPROD;persist security info=True;user id=dev_rw;password=Pa66word;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="QDTEntities" connectionString="metadata=res://*/Models.EntityModel.QDTModel.csdl|res://*/Models.EntityModel.QDTModel.ssdl|res://*/Models.EntityModel.QDTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=3.41.199.73;initial catalog=test;persist security info=True;user id=dev_rw;password=Pa66word;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SuzhouHrEntities" connectionString="metadata=res://*/Models.EntityModel.Hr.csdl|res://*/Models.EntityModel.Hr.ssdl|res://*/Models.EntityModel.Hr.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=3.41.199.73;initial catalog=SZINTRAPROD;persist security info=True;user id=dev_rw;password=Pa66word;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SLEntities" connectionString="metadata=res://*/Models.EntityModel.SLModel.csdl|res://*/Models.EntityModel.SLModel.ssdl|res://*/Models.EntityModel.SLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=3.41.199.73;initial catalog=SZINTRAPROD;persist security info=True;user id=dev_rw;password=Pa66word;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataSourceConnectionString" connectionString="Data Source=3.41.199.73;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Pmb83Entities" connectionString="metadata=res://*/Models.EntityModel.Pmb83.csdl|res://*/Models.EntityModel.Pmb83.ssdl|res://*/Models.EntityModel.Pmb83.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=3.41.199.83;initial catalog=GEASZPD_App;persist security info=True;user id=dev_rw;password=Pa66word;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PmbEntities" connectionString="metadata=res://*/Models.EntityModel.Pmb.csdl|res://*/Models.EntityModel.Pmb.ssdl|res://*/Models.EntityModel.Pmb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=3.41.199.73;initial catalog=SZINTRAPROD;persist security info=True;user id=dev_rw;password=Pa66word;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>