.addressbook
{
    background-image: url('../icon/16/addressbook_16.png ') !important;
}
.add
{
    background-image: url('../icon/16/add_16.png ') !important;
}
.add_circle
{
    background-image: url('../icon/16/add_circle_16.png ') !important;
}
.add_file
{
    background-image: url('../icon/16/add_file_16.png ') !important;
}
.alarm
{
    background-image: url('../icon/16/alarm_16.png ') !important;
}
.alert
{
    background-image: url('../icon/16/alert_16.png ') !important;
}
.application
{
    background-image: url('../icon/16/application_16.png ') !important;
}
.back
{
    background-image: url('../icon/16/back_16.png ') !important;
}
.calculator
{
    background-image: url('../icon/16/calculator_16.png ') !important;
}
.calendar
{
    background-image: url('../icon/16/calendar_16.png ') !important;
}
.cancel
{
    background-image: url('../icon/16/cancel_16.png ') !important;
}
.cart
{
    background-image: url('../icon/16/cart_16.png ') !important;
}
.chart
{
    background-image: url('../icon/16/chart_16.png ') !important;
}
.chat
{
    background-image: url('../icon/16/chat_16.png ') !important;
}
.close
{
    background-image: url('../icon/16/close_16.png ') !important;
}
.configure
{
    background-image: url('../icon/16/configure_16.png ') !important;
}
.contact
{
    background-image: url('../icon/16/contact_16.png ') !important;
}
.copy
{
    background-image: url('../icon/16/copy_16.png ') !important;
}.create
{
    background-image: url('../icon/16/create_16.png ') !important;
}
.cut
{
    background-image: url('../icon/16/cut_16.png ') !important;
}
.delete
{
    background-image: url('../icon/16/delete_16.png ') !important;
}
.disc
{
    background-image: url('../icon/16/disc_16.png ') !important;
}
.down
{
    background-image: url('../icon/16/down_16.png ') !important;
}
.down2
{
    background-image: url('../icon/16/arrow_down_16.png ') !important;
}
.edit
{
    background-image: url('../icon/16/edit_16.png ') !important;
}
.event
{
    background-image: url('../icon/16/event_16.png ') !important;
}
.exit
{
    background-image: url('../icon/16/exit_16.png ') !important;
}
.export
{
    background-image: url('../icon/16/export_16.png ') !important;
}
.forward
{
    background-image: url('../icon/16/forward_16.png ') !important;
}
.import
{
    background-image: url('../icon/16/import_16.png ') !important;
}
.info
{
    background-image: url('../icon/16/info_16.png ') !important;
}
.refresh
{
    background-image: url('../icon/16/refresh_16.png ') !important;
}
.save
{
    background-image: url('../icon/16/save_16.png ') !important;
}
.undo
{
    background-image: url('../icon/16/undo_16.png ') !important;
}
.up
{
    background-image: url('../icon/16/up_16.png ') !important;
}
.up2
{
    background-image: url('../icon/16/arrow_up_16.png ') !important;
}


.add-medium
{
    background-image: url('../icon/24/add_24.png') !important;
}
