.bold-span
{
    font-weight: bold;
}

.font-green
{
    color: Green;
}
.font-red
{
    color: Red;
}

.font-yellow
{
    color: Yellow;
}

/*dark yellow*/
.font-ed8000
{
    color: #ed8000;
}

/*light yellow*/
.font-feca40
{
    color: #feca40;
}

/*blue*/
.font-71ace4
{
    color: #71ace4;
}

.input-green
{
    background-color: #ADD566;
}

.highlight-add566
{
    background-color: #add566;
}

.cell-image
{
    display: block;
    width: 16px;
    height: 16px;
}
