/*----------------------------------------------------------*/
.x-panel-header-text-default
{
    font-size: 14px;
}

.x-btn-inner
{
    font-size: 12px;
}

.x-btn-default-toolbar-medium .x-btn-inner
{
    font-size: 12px;
}

x-form-required-field
{
    background: #FFE666;
}


.x-grid-row
{
    vertical-align: middle;
}

.x-grid-rowbody
{
    font: 12px tahoma,arial,verdana,sans-serif;
}

.x-grid-row .x-grid-cell
{
    font: 12px tahoma,arial,verdana,sans-serif;
}

.x-grid-with-row-lines .x-grid-cell-inner
{
    line-height: 16px;
}
.x-grid-cell-inner
{
    white-space: normal;
}
.x-column-header
{
    font: 12px tahoma,arial,verdana,sans-serif;
}

.x-tab button .x-tab-inner
{
    font-family: tahoma,arial,verdana,sans-serif;
}

.x-grid-rowbody-tr .x-grid-cell-rowbody
{
    color: #BE504F;
}

/*
.x-grid-panel .x-grid-row-over .x-grid-cell-inner {
    font-weight: bold;
}*/

.x-livesearch-match
{
    font-weight: bold;
    background-color: #AA71AA;
}

.x-toolbar .x-form-cb-wrap
{
    line-height: 22px;
}
.x-toolbar .x-form-checkbox
{
    vertical-align: 0;
}

.x-action-col-icon
{
    margin: 0 4px;
}


