/* *********ICONS************** */
/* *********ICON_A************** */

.accept
{
    background-image: url('../img/accept-16.png') !important;
}
.accept_gray
{
    background-image: url('../img/accept_gray-16.png') !important;
}
.addfile
{
    background-image: url(../img/addfile-16.png) !important;
}
.add_green
{
    background-image: url(../img/add_green-16.png) !important;
}
.approve
{
    background-image: url(../img/approve-16.png) !important;
}
.approve_gray
{
    background-image: url(../img/approve_gray-16.png) !important;
}
.approve_list
{
    background-image: url(../img/approve_list-16.png) !important;
}
.attachment
{
    background-image: url(../img/attachment-16.png) !important;
}
.backward
{
    background-image: url(../img/backward-16.png) !important;
}
.blackboard
{
    background-image: url(../img/blackboard-16.png) !important;
    background-repeat: no-repeat;
}
.blockdevice
{
    background-image: url(../img/blockdevice-16.png) !important;
}
.cancel
{
    background-image: url(../img/cancel-16.png) !important;
}
.calendar
{
    background-image: url(../img/calendar_black-16.png) !important;
}
.calendar_blue
{
    background-image: url(../img/calendar_blue-16.png) !important;
}
.calendar_green
{
    background-image: url(../img/calendar_green-16.png) !important;
}
.calculator-24
{
    background-image: url(../img/calculator-24.png);
}
.check
{
    background-image: url(../img/check-16.png) !important;
}
.china_flag
{
    background-image: url(../img/china_flag-16.png) !important;
}
.china_flag-32
{
    background-image: url(../img/china_flag-32.png) !important;
}
.circle_grey
{
    background-image: url(../img/circle_grey-16.png) !important;
    background-repeat: no-repeat;
}
.circle_red
{
    background-image: url(../img/circle_red-16.png) !important;
    background-repeat: no-repeat;
}
.circle_yellow
{
    background-image: url(../img/circle_yellow-16.png) !important;
    background-repeat: no-repeat;
}
.circle_green
{
    background-image: url(../img/circle_green-16.png) !important;
    background-repeat: no-repeat;
}
.circle_yes
{
    background-image: url(../img/circle_yes-16.png) !important;
    background-repeat: no-repeat;
}
.circle_no
{
    background-image: url(../img/circle_no-16.png) !important;
    background-repeat: no-repeat;
}
.clock
{
    background-image: url(../img/clock-16.png) !important;
}
.complete
{
    background-image: url('../img/complete-16.png') !important;
}
.complete_gray
{
    background-image: url('../img/complete_gray-16.png') !important;
}
.contact_card
{
    background-image: url(../img/contact_card-16.png) !important;
}
.delete
{
    background-image: url(../img/delete-16.png) !important;
}
.doctoral_cap
{
    background-image: url(../img/doctoral_cap-16.png) !important;
}
.down
{
    background-image: url(../img/down-16.png) !important;
}
.down2
{
    background-image: url('../icon/16/arrow_down_16.png ') !important;
}
.edit
{
    background-image: url(../img/edit-16.png) !important;
}
.statics
{
    background-image: url(../img/statistics-16.png) !important;
}
.excel
{
    background-image: url(../img/excel-16.png) !important;
}
.excel-24
{
    background-image: url(../img/excel-24.png) !important;
}
.excel-32
{
    background-image: url(../img/excel-32.png) !important;
}
.exit-32
{
    background-image: url(../img/exit-32.png) !important;
}
.export-large
{
    background-image: url(../img/export.png) !important;
}
.export
{
    background-image: url(../img/export-16.png) !important;
}
.eye
{
    background-image: url(../img/eye_inv-16.png) !important;
}
.eye_close
{
    background-image: url(../img/eye_close-16.png) !important;
}
.false
{
    background-image: url(../img/delete-16.png) !important;
}
.finish
{
    background-image: url(../img/finish-16.png) !important;
}
.finish_gray
{
    background-image: url(../img/finish_gray-16.png) !important;
}
.foot
{
    background-image: url(../img/start_here-16.png) !important;
}
.forward
{
    background-image: url(../img/forward-16.png) !important;
}
.going_up
{
    background-image: url(../img/going_up-16.png) !important;
}

/* *********ICON_H-N************** */
.import
{
    background-image: url(../img/import-16.png) !important;
}
.interact
{
    background-image: url(../img/interact-16.png) !important;
}
.ticket
{
    background-image: url(../img/ticket-16.png) !important;
}
.keys
{
    background-image: url(../img/keys-16.png) !important;
}
.keys-32
{
    background-image: url(../img/keys-32.png) !important;
}
.log
{
    background-image: url(../img/log-16.png) !important;
}
.logout
{
    background-image: url(../img/logout-16.png) !important;
}
.link
{
    background-image: url(../img/internet_link-16.png) !important;
}
.list_error
{
    background-image: url(../img/list_error-16.png) !important;
}
.media_control
{
    background-image: url(../img/media_control-16.png) !important;
}
.monitor
{
    background-image: url(../img/monitor-16.png) !important;
}
.new_line
{
    background-image: url(../img/new_line-16.png) !important;
}

/* *********ICON_O-T************** */
.participants_list
{
    background-image: url(../img/participants_list-16.png) !important;
}
.people
{
    background-image: url(../img/people-16.png) !important;
}
.plan
{
    background-image: url(../img/plan-16.png) !important;
}
.puzzle_green
{
    background-image: url(../img/puzzle_green-16.png) !important;
}
.reload_all
{
    background-image: url(../img/reload_all_tabs-16.png) !important;
}
.refresh
{
    background-image: url(../img/refresh-16.png) !important;
}
.reject
{
    background-image: url('../img/reject-16.png') !important;
}
.reject_gray
{
    background-image: url('../img/reject_gray-16.png') !important;
}
.print
{
    background-image: url('../img/print-16.png') !important;
}
.scan
{
    background-image: url(../img/lens-16.png) !important;
}
.search
{
    background-image: url(../img/search-16.png) !important;
}
.search-24
{
    background-image: url(../img/search-24.png) !important;
}
.search-trigger
{
    background-image: url('../img/search-trigger.gif');
}
.ship
{
    background-image: url(../img/ship-16.png) !important;
}
.stop
{
    background-image: url(../img/stop-16.png) !important;
}
.submit
{
    background-image: url(../img/submit-16.png) !important;
}
.symbol_check
{
    background-image: url(../img/symbol_check-16.png) !important;
}
.system_config_boot
{
    background-image: url(../img/system_config_boot-16.png) !important;
}
.time_machine
{
    background-image: url(../img/time_machine-16.png) !important;
}
.tools
{
    background-image: url(../img/tools-16.png) !important;
}

/* *********ICON_U-Z************** */
.undo_blue
{
    background-image: url(../img/undo_blue-16.png) !important;
}
.up2
{
    background-image: url('../icon/16/arrow_up_16.png ') !important;
}
.usa_flag
{
    background-image: url(../img/usa_flag-16.png) !important;
}
.usa_flag-32
{
    background-image: url(../img/usa_flag-32.png) !important;
}
.users
{
    background-image: url(../img/users-16.png) !important;
}
.warning
{
    background-image: url(../img/warning-16.png);
}
.whatsnext
{
    background-image: url(../img/whatsnext-16.png);
}
.window
{
    background-image: url(../img/window-16.png);
}
.wip
{
    background-image: url(../img/wip-16.png) !important;
}
.worker_skill
{
    background-image: url(../img/worker_skill.jpg) !important;
}
